@import "../../styles/abstracts/variables";

.Ministries {
  font-size: 1.6rem;

  &__Menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1rem;
    align-items: center;
  }
}
