@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.Ministry {
  // background-color: orangered;

  &__TopInfo {
    // display: grid;
    // grid-template-columns: .7fr .3fr;
    // grid-gap: 2rem;
    display: flex;

    @include respond(tab-port) {
      flex-direction: column;
    }

    &_Description {
      //   max-width: 90rem;
      flex: 2 1 70%;
      //   margin: auto;
    }

    &_LeaderPhoto {
      position: relative;
      flex: 0 2 30%;
      margin-left: 3rem;

      @include respond(tab-port) {
        flex-basis: auto;
        height: 40rem;
        margin-left: 0;
        // width: 90rem;
      }
    }
  }

  &__Events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-auto-rows: 34rem;
    gap: 2rem;
    justify-content: center;

    padding: 3rem;
  }

  &__Articles {
    display: flex;
    & > * {
      max-width: 33%;
    }
    @include respond(tab-port) {
      flex-direction: column;

      & > * {
        max-width: unset;
      }
    }
  }
}
