@import "../../styles/abstracts/variables.scss";

.Layout {
  // background-color: #436e6c;
  background-color: $color-ternary-2;
  border-radius: 0.7rem;
  overflow: hidden;

  &__mainWrapper {
    background-color: $color-grey-light-1;
    border-radius: 8rem;
    padding: 5.8rem 0;
  }

}
