@import "../../../styles/abstracts/variables.scss";
@import "../../../styles/abstracts/mixins";

.Toolbar {
  background-color: #03260e3e;
  padding: 2rem 3rem 1rem 3rem;
  z-index: 3;
  color: #eee;
  display: grid;
  grid-template-columns: min-content repeat(3, 1fr);
  grid-template-rows: 6rem;
  grid-row: 1 / 2;

  .Logo {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    width: 6rem;
    // background-color: orangered;
  }

  .Name {
    text-transform: lowercase;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .3rem;
    align-self: center;
    padding: 1rem;
    line-height: 95%;
    text-shadow: 0 0 .5rem rgba(0, 0, 0, 0.561);
  }

  .DesktopOnly {
    grid-column: 3 / 5;
    display: flex;
  }

  @include respond(tab-port) {
    .DesktopOnly {
      display: none;
    }
  }
}
