@import "../../../styles/abstracts/variables";

.Sermon {
  position: relative;
  padding-bottom: 2rem;
  // width: 31%;
  // box-shadow: 0 0 5px $color-grey-light-3;

  &:hover {
    div:nth-child(2) {
      background-color: $color-primary;
      color: $color-white;
      top: 12rem;
    }
  }

  &__Image {
    position: relative;
    width: 100%;
    height: 20rem;
    aspect-ratio: 16 / 9;
    box-shadow: 0 0 7px $color-grey-light-3;
    border-radius: 8px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }
  }

  &__Date {
    position: absolute;
    top: 15rem;
    left: 1.5rem;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 8rem;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    box-shadow: 0 0 1.2rem $color-grey-light-3;
    transition: all 0.3s;

    &_day {
      font-size: 2.8rem;
      font-weight: 200;
    }
    &_month {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      background-color: transparent !important;
    }
  }

  &__Title {
    margin-top: 4rem;
    font-size: 2.5rem;
    font-weight: 200;

    &:hover {
      cursor: pointer;
    }
  }
  &__Speaker {
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 0.7;
    color: $color-primary-dark;
  }

  .Modal {
    &__TopBar {
      display: flex;
      align-items: center;
      width: 100%;
      padding-bottom: 0.5rem;

      &_title {
        font-size: 1.6rem;
        justify-self: center;
        flex-grow: 2;
        text-align: center;
        font-weight: 700;
      }

      &_close {
        flex-grow: 0;
        color: $color-grey-dark;
        justify-self: flex-end;
        font-size: 3rem;
        text-decoration: none;
        line-height: 1;
        transition: color 0.2s;

        &:hover {
          color: $color-primary;
          cursor: pointer;
        }
      }
    }

    iframe {
      border-radius: 2%;
    }
  }
}
