@import "../../../styles/abstracts/variables";

.Article {
  width: 100%;
  background-color: $color-grey-light-2;
  border-radius: 10px;
  transition: transform .3s;
  &_image {
    position: relative;
    width: 100%;
    aspect-ratio: 8 / 5;
    border-radius: 10px;
    overflow: hidden;
  }

  &__NotImage {
    // background-color: #fff;
    margin: 1.5rem;
    overflow: hidden;
    // padding: 1rem;
    a {
      text-decoration: none;
      color: inherit;
    }

    &_title {
      font-size: 2.3rem;
      font-weight: 300;
      text-transform: capitalize;
      // cursor: pointer;
    }

    &_belowTitle {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      opacity: 0.7;
      margin: 0.5rem 0 1rem 0;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.7rem;
        fill: $color-primary;
      }

      & > * {
        display: flex;
        align-items: center;
      }
    }

    &_excerpt {
      font-size: $default-font-size;
      opacity: 0.7;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
