.Brandname {
    text-transform: lowercase;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .3rem;
    align-self: center;
    padding: 1rem;
    line-height: 95%;
    text-shadow: 0 0 .5rem rgba(0, 0, 0, 0.561);
}