.Events {
  // background-color: orangered;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-auto-rows: 30rem;
    gap: 2rem;
justify-content: center;

    padding: 3rem;
  }
}
