@import "../../styles/abstracts/mixins";

.Events {
  // background-color: orangered;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    gap: 3rem;
    justify-content: center;
    padding: 3rem;
  }
}
