@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.Event {
  // background-color: orangered;
  font-size: 1.6rem;
  padding-bottom: 4rem;

  &__image {
    position: relative;
    width: 50rem;
    aspect-ratio: 16 / 9;
    border-radius: 8%;
    overflow: hidden;
    margin-bottom: 2rem;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__WhenAndWhere {
    display: flex;
    gap: 1rem;
    align-items: center;

    &__Date {
      background-color: $color-primary;
      color: $color-white;
      padding: 1rem 2.5rem;
      border-radius: 1rem;
      text-align: center;
    }

    &__time {
      // margin-top: 0.7rem;
      display: flex;
      align-items: center;
      line-height: 1.5;

      svg {
        fill: $color-primary;
        width: 1.8rem;
        height: 1.6rem;
        margin-right: 0.7rem;
        // background-color: orangered;
      }
    }

    &__place {
      line-height: 1.5;
      display: flex;
      align-items: center;

      svg {
        fill: $color-primary;
        width: 1.8rem;
        height: 1.6rem;
        margin-right: 0.7rem;
      }
    }
  }

  &__body {
    // background-color: orangered;
    margin-top: 2rem;
  }

  &__bottomEmbed {
    border-radius: 7px;
    overflow: hidden;
    text-align: center;
  }
}
