@import "../../styles/abstracts/variables";

.Event {
  // background-color: orangered;
  font-size: 1.6rem;
  padding-bottom: 4rem;

  &__image {
    position: relative;
    width: 50rem;
    aspect-ratio: 16 / 9;
    border-radius: 8%;
    overflow: hidden;
  }

  &__time {
    display: flex;
    align-items: center;

    svg {
      fill: $color-black;
      width: 1.8rem;
      height: 1.6rem;
      margin-right: 0.7rem;
      // background-color: orangered;
    }
  }

  &__place {
    display: flex;
    align-items: center;

    svg {
      fill: $color-black;
      width: 1.8rem;
      height: 1.6rem;
      margin-right: 0.7rem;
    }
  }

  &__body {
    // background-color: orangered;
  }
}
