@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.Articles {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(30rem, 0.33fr));
  // grid-auto-rows: 34rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  & > * {
    width: 30%;
    overflow: hidden;
    margin-bottom: 4rem;
  }

  @include respond(tab-port) {
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }
}
