@import "../../styles/abstracts/variables";

.Article {
    // background-color: orangered;
    font-size: $default-font-size;

    &__image {
        position: relative;
        width: 40rem;
        aspect-ratio: 8 / 5;
    }
}