@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.Article {
  // background-color: orangered;
  font-size: $default-font-size;

  &__image {
    position: relative;
    width: 40rem;
    aspect-ratio: 8 / 5;
    overflow: hidden;
    border-radius: 7px;
    margin-bottom: 2rem;

    @include respond(phone) {
      width: 100%;
    }
  }
}
