@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.Sermons {
  // background-color: orangered;
  background-color: $color-grey-light-2;
  width: 100%;

  &__Wrapper {
    display: flex;
    gap: 3rem;
    width: 100%;
    justify-content: space-evenly;

    // & > * {
    //   width: 30%;
    // }

    @include respond(tab-port) {
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }
  }
}
