@import "../../styles/abstracts/variables.scss";
@import "../../styles/abstracts/mixins";

.Footer {
  background-color: $color-grey-dark;
  color: $color-white;
  font-size: $default-font-size;
  padding: 4rem 4rem;
  border-radius: 10% 10% 0 0;

  h4 {
    color: $color-ternary-2;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $color-ternary;
    }
  }

  &__columns {
    // display: grid;
    display: flex;
    gap: 2rem;
    // grid-template-columns: 45% repeat(2, 1fr);
    // margin-bottom: 2.5rem;

    @include respond(tab-port) {
      flex-direction: column;
      // align-items: center;
    }

    & > * {
      flex: 0 1 20%;
    }

    & > :first-child {
      flex: 1 1 35%;
    }

    svg {
      width: $default-font-size;
      height: $default-font-size;
      margin-right: 1rem;
      fill: $color-white;
    }

    &_email {
      // background-color: orangered;
      a {
        display: flex;
        align-items: center;
        margin-bottom: 0.4rem;
      }
    }

    &_phone {
      display: flex;
      align-items: center;
      margin-bottom: 3rem !important;
    }

    ul {
      list-style-position: inside;
      list-style-type: "» ";
      margin-left: 2rem;
      text-indent: -1.5rem;

      // li {
      //   white-space: none;
      // }
    }

    &_header {
      text-transform: uppercase;
      font-weight: 100;
      font-size: calc(100% + 2px);
      margin-bottom: 0.4rem;
      letter-spacing: 1.5px;
      cursor: pointer;
    }

    & > * {
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
    }

    &__Logo {
      position: relative;
      height: 6rem;
      width: 6rem;
      margin: 1rem 0;
      // margin: 5rem auto;
      cursor: pointer;
    }

    &__subscribe {
      font-size: 1.6rem;
      flex-basis: 25%;
      line-height: 1.5;

      div {
        padding-top: 0.5rem;
      }

      &__watch {
        margin-top: 2rem;
      }
    }
  }

  &__appointment {
    padding: 4rem 12rem;
    border-bottom: 1px solid rgba($color-white, 0.2);
    color: transparentize($color-white, 0.5);
    text-align: center;

    @include respond(tab-port) {
      padding: 4rem 2rem;
    }
  }

  &__bottomText {
    font-size: calc(100% - 3px);
    // text-align: center;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.6;

    a {
      text-decoration: none;
      color: inherit;
    }

    &_gww {
      // margin-top: 0.8rem;
      opacity: 0.5;
      text-transform: uppercase;
    }

    &__social {
      a {
        margin-left: 2.5rem;
        height: 2rem;
      }
      svg {
        width: 2rem;
        height: 2rem;
        fill: $color-white;
        transition: fill 0.2s;
        // opacity: .9;

        &:hover {
          fill: $color-primary;
        }
      }
    }
  }
}
