@import "../styles/abstracts/variables.scss";
@import "../styles/abstracts/mixins";

.ServiceInfo {
  position: absolute;
  background-color: $color-grey-light-2;
  top: 75vh;
  // padding: 5rem;
  z-index: 10;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 65%;
  height: 15rem;
  display: flex;
  // align-items: center;
  overflow: hidden;

  &__image {
    position: relative;
    flex: 0 1 40%;
    margin: 1rem;
    filter: grayscale(100%);
  }

  &__text {
    // background-color: orangered;
    font-size: $default-font-size;
    text-align: left;
    align-self: center;
    padding-left: 2rem;
    line-height: 1.5;
  }
}

.main {
  background-color: $color-grey-light-1;
  border-radius: 0.7rem;
  overflow: hidden;
  padding-top: 7rem;

  &__underWelcome {
    // height: 40rem;
    display: flex;
    align-items: center;
    gap: 5rem;

    & iframe {
      aspect-ratio: 16 / 9;
      flex: 0 0 39%;
    }

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__Articles {
    display: flex;
    & > * {
      max-width: 33%;
    }
    @include respond(tab-port) {
      flex-direction: column;

      & > * {
        max-width: unset;
      }
    }
  }
  &__Events {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    // gap: 2rem;
    // justify-content: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
      flex: 0 1 31%;
    }

    @include respond(tab-port) {
      flex-direction: column;
      flex-wrap: nowrap;
      // & > * {
      //   flex: 1 1 71rem;
      // }
    }

    // @include respond(phone) {
    //   & > * {
    //     flex-basis: 52rem;
    //   }
    // }
  }
}
