@import "../../../styles/abstracts/variables";

.Person {
  position: relative;
  // width: 30rem;
  // background-color: orangered;
  border-radius: 1rem;
  overflow: hidden;

  &__ImageWrapper {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    &:hover &__overlay {
      visibility: visible;
      opacity: 1;
    }

    &__image {
      position: relative;
      aspect-ratio: 5 / 4;
      z-index: 1;
      border-radius: 0.5rem;
      overflow: hidden;
      filter: grayscale(100%);
    }

    &__overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      color: $color-white;
      background-color: rgba($color-primary, 0.85);
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s;
      padding: 1.5rem;
      display: flex;
      border-radius: 0.5rem;
      align-items: center;

      p {
        line-height: 1.5;
      }
    }
  }

  &__text {
    background-color: $color-primary;
    color: $color-white;
    width: 80%;
    margin: auto;
    z-index: 50;
    position: relative;
    top: -6.5%;
    padding: 1rem 2rem;
    border-radius: 0.5rem;

    &_name {
      font-size: 2rem;
      font-weight: 200;
    }

    &_title {
      opacity: 0.7;
    }
  }
}
