@import "../../../styles/abstracts/variables.scss";

.Header {
  // background-color: orangered;
  position: relative;
  border-radius: 0.7rem 0.7rem 0 0;
  overflow: hidden;
  height: 60vh;
  display: grid;
  grid-template-rows: min-content min-content 1fr;

  .HeaderText {
    align-self: center;
    justify-self: center;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    // position: absolute;
    // top: 64%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 200;
    width: 80%;
    text-align: center;
    text-shadow: 0 0 2rem black;
  }

  .HeaderImage {
    z-index: 0;
    border-radius: 0 0 90% 90% / 10vw;
  }

  .Overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      $color-primary,
      $color-quaternary
    );
    z-index: 1;
    opacity: 0.43;
    border-radius: 0 0 90% 90% / 10vw;
  }

  .Arc {
    position: relative;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 6.4rem;
    width: 100%;
    opacity: 18%;
    z-index: 3;

    .ArcImage {
      z-index: 3;
    }
  }
}
