@import "../../../styles/abstracts/mixins";

.Countdown {
  flex-grow: 1;
  display: flex;
  /* justify-content: space-between; */
  text-align: center;
  align-items: center;
  margin-left: 1rem;

@include respond(tab-port) {
  padding-bottom: 2rem;
  // max-width: 40rem;
  min-width: 30rem;
  margin: auto;
}

  &__Element {
    flex-grow: 1;
    padding: 0 1rem;
    border-right: 1px rgb(175, 175, 175) solid;
    // height: 100%;

    &:last-child {
      border-right: none;
    }

    &__num {
      font-size: 233%;
      font-weight: 200;
      margin-bottom: .25rem;
    }

    &__label {
      font-size: 125%;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
